@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header {
    box-shadow: 1px 6px 15px -1px rgba(82,82,82,0.52);
    -webkit-box-shadow: 1px 6px 15px -1px rgba(82,82,82,0.52);
    -moz-box-shadow: 1px 6px 15px -1px rgba(82,82,82,0.52);
    white-space: nowrap;
}

input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-medium {
    gap: 0.25em;
}

.action-link:visited {
    color: #0000EE;
}

.grid-container {
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

.dashboard-navigation-container {
    
}

.dashboard-content-container {

}

.logo-container {
    align-items: center;
    position: relative;
}

.main-content {
    margin-top: 5rem;
    gap: 10rem;
    padding: 0.5em 15%;
}

.form-container {
    width: 24em;
}

.form {
    gap: 1em;
}

.form span:last-child {
    margin-top: 1em;
    gap: 2em;
    align-items: center;
}

.text-input {
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 10px;
}

.submit-input {
    border: none;
    border-radius: 10px;
    padding: 1em 2.5em;
    font-weight: 700;
    transition: background-color 250ms ease-in-out;
}

.submit-input:hover {
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    background-color: #C4C4C4;
}

.footer-content-container {
    margin-top: 6em;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logout-container {
    position: absolute;
    right: 1em;
}

.logout-container img {
    margin-right: 0.5em;
}